body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
}


/* Media-Query nur für Hochformat */
@media (orientation: portrait) {
    body {
        background: url('IMG_0026.jpeg') no-repeat center center fixed; 
        background-size: cover;
        justify-content: flex-end;
    }

/* Media-Query nur für Hochformat */
@media (orientation: landscape) {
body {
    background: url('background.jpg') no-repeat center center fixed; 
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

    
.content-wrapper {
    width: 60%; 
    text-align: right;
    padding: 0 5%; 
    background: rgba(0, 0, 0, 0.3); 
    border-radius: 10px;
}

.description-section p {
    color: #ECF0F1;
    font-size: 1.5em; 
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
    max-width: 600px; 
    line-height: 1.5; 
}

.booking-button {
    display: inline-block;
    padding: 12px 25px; 
    background-color: #3498DB;
    color: #ECF0F1;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 30px; 
    font-weight: bold; 
    transition: background-color 0.3s;
}

.booking-button:hover {
    background-color: #2980B9;

}
