body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
}

body {
    background: url('background.jpg') no-repeat center center fixed; 
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-wrapper {
    width: 60%; /* Etwas verkleinert für mehr Raumgefühl */
    text-align: right;
    padding: 0 5%; /* Seitenabstände */
    background: rgba(0, 0, 0, 0.3); /* Hintergrundtransparenz für bessere Lesbarkeit */
    border-radius: 10px;
}

.description-section p {
    color: #ECF0F1;
    font-size: 1.5em; /* Größere Schrift für mehr Eleganz */
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
    max-width: 600px; /* Etwas erweitert für besseren Textfluss */
    line-height: 1.5; /* Mehr Raum zwischen Zeilen für bessere Lesbarkeit */
}

.booking-button {
    display: inline-block;
    padding: 12px 25px; /* Erhöhte Polsterung für eine größere und elegantere Schaltfläche */
    background-color: #3498DB;
    color: #ECF0F1;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 30px; /* Erhöhter Abstand vom Text für bessere Optik */
    font-weight: bold; /* Fettschrift für mehr Prominenz */
    transition: background-color 0.3s;
}

.booking-button:hover {
    background-color: #2980B9;
}

@media only screen and (max-width: 768px) {
    /* Für Mobilgeräte im Hochformat */
    body {
        justify-content: flex-end;
    }
    
    .content-wrapper {
        width: 90%; /* Erweitert auf fast den gesamten Bildschirm */
        padding: 5%;
    }
}
